@import 'dev/variables.less';

@widthOfMyPlugin: 300px;

@pluginName: examples;

.onwindy-plugin-@{pluginName} {
    .left-border {
        left: @widthOfMyPlugin;
    }

    #search {
        display: none;
    }
}

#windy-plugin-@{pluginName} {
    width: @widthOfMyPlugin;
    height: 100%; //required to show the plugin in desktop
    border-radius: 8px;

    .section-title {
        text-align: center;
    }

    #dragdemo-container {
        box-sizing: border-box;
        position: relative;
        border-radius: 5px;
        border: 1px solid blue;
        background-color: white;
        height: 300px;
        margin: 5px;

        .line {
            position: absolute;
            border: 0px;
            background-color: black;
        }

        #dragdemo-x {
            .line;
            left: 30px;
            height: 100%;
            width: 0.5px;
        }

        #dragdemo-y {
            .line;
            top: 30px;
            height: 0.5px;
            width: 100%;
        }

        #dragdemo-box {
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            border: 1px solid black;
            top: 40px;
            left: 40px;
        }
    }

    .dragdemo-description {
        border: 1px solid blue;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        ul {
            margin-left: 15px;
        }
    }

    .plugin-content {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

#device-mobile {
    #open-in-app {
        display: none;
    }

    .onwindy-plugin-@{pluginName} {
        #bottom {
            left: 0px; // this keeps the  calendar bar visible
            z-index: 20;
        }
    }

    #windy-plugin-@{pluginName} {
        .section-title {
            display: none;
        }

        bottom: 60px; //set bottom so that calendar remains visible.
        height: auto; //cancel set height so that bottom can be used;
        width: 100%;
        transition: bottom 0.3s;
        z-index: 10;

        .calendar-backdrop {
            bottom: 0px;
            height: 40px;
            width: 100%;
            position: absolute;
            overflow: hidden;
        }

        .plugin-content {
            padding-bottom: 40px;
        }

        #dragdemo-container {
            //background-color:transparent;
        }
    }

    .mobile-calendar-expanded {
        #windy-plugin-@{pluginName} {
            bottom: 100px;
        }
    }
}

#device-tablet {
    .onwindy-plugin-@{pluginName} {
        // Place the left margin of the bottom calendar in a sensible position
        #bottom {
            margin-left: @widthOfMyPlugin;
        }
    }

    // Put logo in a better position on tablet,  otherwise over the left pane title.
    #logo {
        left: 100%;
        margin-left: 150px;
    }

    #open-in-app {
        display: none;
    }
}
