
@import 'dev/variables.less';


.leaflet-top {
    transform: translate(35px, 75px);
}


.button-closer{
    height: 30px;
    width: 30px;
    text-align: center;
    margin: auto;
    color: black;
    border-radius: 13px;
    background-color: red;
    pointer-events: auto;
    visibility: hidden;
}

.zoomer{
    height: 30px;
    width: 45px;
    transform: translate(40px, 0px);
    text-align: center;
    margin: auto;
    color: #cccccc;
    border-radius: 13px;
    background-color: #424040;
    pointer-events: auto;
    visibility: hidden;
}

#zoom_in{
    transform: translate(85px, 0px);
}
